body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th:first-child,
th:nth-child(5) {
    width: 5%;
}

th:nth-child(2){
    width: 10%;
}

th:last-child{
    width: 20%;
}

th:nth-child(4){
    width: 8%;
}

th {
    background-color: #f2f2f2;
}

select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#summit {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add{
    position: absolute;
    left: 40%;
    display: block;
    width: 50%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.signature-date {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.signature-date label {
    margin-right: 10px;
}

.signature-date input[type="text"],
.signature-date input[type="date"] {
    margin-right: 20px;
    padding: 5px;
    box-sizing: border-box;
}